<!--The below code was given in the task 22 pdf-->

<!DOCTYPE html>
<html lang="en">
    <!--This is my header of my html-->
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--This is a link to download bootstrap-->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <!--This is my title of my html-->
        <title>Welcome</title>
    </head>

    <!--This is my body of my html-->
    <body>
        <div class="container mt-5">
            <h1 class="display-4">Welcome, {{ username }}</h1>

            <p class="lead">Your password is {{ password }}</p>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>

</html>